target
build/*
!build/.donotdelete
dist/**
**/node_modules/**
!dist/.donotdelete
.idea
*.iml
!cloudFlexRenderer/cloudFlexRenderer.iml
Thumbs.db
Thumbs.db:encryptable
.DS_Store
rebel.xml
logs
!cloudPortal/src/main/webapp/web-src/**/*
!cloudPortal/src/main/webapp/oldjs/**/*
*.bak
out
*.log
.settings
**/tvnconf.ini
**/CommandPlayer.properties
.happypack
