<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-22d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %logger{35} [%file:%line] %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../../logs/jproxy.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../../logs/jproxy.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>100</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%-25d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %logger{35} [%file:%line] %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="ch.qos.logback" level="WARN" />
	<logger name="io.netty" level="INFO" />
	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>